/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
@font-face {
    font-family: Comfortaa, Arial, sans-serif;
    src: url('../font/Comfortaa-Regular.ttf');
}
@font-face {
    font-family: "Comfortaa Bold", Arial, sans-serif;
    src: url('../font/Comfortaa-Bold.ttf');
}
@font-face {
    font-family: "Comfortaa Light", Arial, sans-serif;
    src: url('../font/Comfortaa-Light.ttf');
}

.root * {
    -fx-font-family: Comfortaa;
    -fx-font-size: 1pc;
}

/*
* Main root node 
*/
.main {
    -fx-background-color: #fffde4;
}


/*
* Bottom node 
*/
.abot {
    -fx-background-color: #e4ebff;
}

.we {
    -fx-font-weight: bold;
}

.progress-bar {
    -fx-effect: dropshadow(gaussian, #1c03ff, 11.0, 0.1, 5, 3);
    -fx-progress-color: #1e90ff;
}

/*
* Subview
*/
.title-lb {
    -fx-text-fill: #093145;
    -fx-font-weight: bold;
}
.message-lb {
    -fx-background-color: #292b29;
    -fx-text-fill: whitesmoke;
}
.action-btn {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}
.reset-btn {
    -fx-text-fill:darkgreen;
}
.delete-btn {
    -fx-text-fill:darkred;
}
.cancel-btn {
    -fx-text-fill:black;
}
